<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Página de Login</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Login</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Login</h1>
        <img src="/henrique/imagens/login.png">
        <form>
            <!-- Campos de login e senha -->
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required><br>

            <!-- Link para criar login -->
            <p><a href="\cadastro">Criar Login</a></p>

            <!-- Botão de login -->
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
